{% load static %}
<!doctype html>
<html lang="ja">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>  
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- CSS Files -->
    {% block extrahead %}
        <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    {% endblock %}
    
    <title>ダッシュボード</title>
</head>
<body>

<script>
jQuery(function($){
        // let date = new Date();
        // let year = date.getFullYear();
        // let month = date.getMonth() + 1;
        $('#id_calender').load("{% url 'app:month_with_schedule' %}");
        $('#id_memo').load("{% url 'app:memo' %}");
});
</script>


<div id="base-container">

        <div id="base-container-side">
                <div id="id_user" class="cls-block-style">
                        <i class="far fa-address-card"></i>
                        {% if user.is_authenticated %}
                        <p>{{ user.get_username }}</p>
                        {% else %}
                        <p>ログインしていません</p>
                        {% endif %}
                </div>
        </div>
        <div id="base-container-main">

                <!-- メモ -->
                <a href="{% url 'app:memo_create' %}"><i class="far fa-comment"></i>メモ貼る</a>
                <div id="id_memo" class="cls-block-style"></div>
                <div>
                {% block memo_content %}{% endblock %}
                </div>
                <!-- カレンダー -->

                <a href="{% url 'app:mycalendar' %}"><i class="far fa-calendar-alt"></i>スケジュール登録する</a>
                <div id="id_calender" class="cls-block-style"></div>
        </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>
</html>